@import '../../../style/styles';

.header {
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 1;

    .logo-container {
        margin: auto 0;
    }

    .navBar {
        display: flex;
        align-items: center ;
        height: 100%;
        width: 100%;
        margin: auto;
        padding: 0 5px;
    }

    .react-icon {
        color: $fontSubColor;
        font-size: 2rem;
        padding: $mainSpacing;
        cursor: pointer;
        &.blackVariant {
            color: $fontColorMain;
        }
    }

    .spacer {
        flex:1;
    }

}

@include tablet {
    .navBar {
        width: 100%;

        .react-icon {
            display: none;
        }

        .hide {
            height: auto;
        }

        .nav-links>ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            text-align: center;
        }

    }
}


@include mobile {
    .nav-links {
        display: none;
    }

}