@import '../../style/styles';

@mixin message($color) {
    background-color: $color;
}

.message-container {
    color: $fontSubColor;
    padding: 15px 30px 15px 15px;
    border-radius: 3px;
    text-align: left;
    font-family: $fontHeadingTitleSub;
    width: 80%;
    position: relative;
    right: 0;
    z-index: 100;
    margin: 0 auto;

    &.info {
        @include message($uiInfoColor)
    }

    &.danger {
        @include message(red)
    }
}