@import '../../style/styles';

@mixin label($color) {
    color: $color;
    border: $color 1px solid;
}

.label {
    color: $fontSubColor;
    padding: 3px 8px;
    white-space: nowrap;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    font-family: $fontHeadingTitleSub;
    font-size: 15px;
    background-color: rgba($gray, 0.8);
    text-transform: uppercase;

    &.access {
        @include label($access)
    }

    &.guide {
        @include label($guide)
    }

    &.world-heritage {
        @include label($worldheritage)
    }

    &.gourmet {
        @include label($gourmet)
    }

    &.local-specialities {
        @include label($local)
    }

    &.info {
        @include label($info)
    }

    &.event {
        @include label($event)
    }
}