@import '../../../style/styles';

.post-form-container {

    .post-form {
        margin:0px auto 10px;
    	max-width: 70%;
        padding: 0px 12px 10px 20px;
        // background-color: pink;

        div {
            margin: 10px 0 0 0;
        }

        label {
           margin:0 0 3px 0;
           padding:0px;
           display:block;
        }

        select {
            color: $fontColorMain;
        }

        input[type=text], textarea, select{
            box-sizing: border-box;
            border:1px solid $uiBackgroundColor;
            padding: 7px;
            margin:0px;
            outline: none;
            border-radius: 2px;


            &:focus {
                background-color: lighten($uiBackgroundColor, 70);
                box-shadow: 0 0 8pxlighten($uiBackgroundColor, 70);
            }
        }

        textarea {
            width: 100%;
            height: 20vh;
        }

        input[type=submit] {
            @include buttonStyle($uiBackgroundColor, $fontSubColor);

            &:hover {
                @include buttonStyle(lighten($uiBackgroundColor, 20), $fontSubColor)
            }
        }

        .input-title {
            width: 80%;
        }

        .required {
            color: red;
        }

    }
}