@import './variables';

@mixin buttonStyle ($bgColor, $fColor, $bColor) {
    padding: 0.5rem 1rem;
    background: $bgColor;
    color: $fColor;
    display: inline-block;
    text-transform: uppercase;
    border-radius: $buttonRadius;
    border: 1px solid $bColor;
    cursor: pointer;
    margin: $mainSpacing;
}

@mixin mobile {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 991px) {
        @content;
    }
}