// Colors
$red: #D90404;
$yellow: #FFD804;
$white: #fff;
$paleRed: lighten($red, 45);
$gray: #333;
$green: #008C28;

// Label colors
$access: #fff3a3 ;
$guide: #E88607 ;
$worldheritage: #FFD804 ;
$gourmet: #D6D6D6;
$local: #f17e7e;
$info: #FFF7C9;
$event: #7fe7cc;

// Font family, size, line-height
$fontHeadingTitle:  'Frank Ruhl Libre','Lekton','Mukta', helvetica, 'Bebas Neue', cursive, Arial, sans-serif;
$fontHeadingTitleSub:  'Mukta', helvetica, 'Bebas Neue', cursive, Arial, sans-serif;
$fontBody: 'Frank Ruhl Libre', 'Lekton', helvetica, 'Bebas Neue', cursive, Arial, sans-serif;
$fontBodySize: 18px;
$fontHeadingTitleSize: 20px;
$fontBodyLineHeight: 27.125px;


// Color
$backgroundColor: $white ;
$primaryColor: $red;
$primaryColorSub: $yellow;
$subColor: $paleRed;
$uiBackgroundColor: $gray;
$uiButtonBackgroundColor: $red; //Avoid using
$uiInfoColor: $green;

// Font color
$fontColorMain: $gray;
$fontSubColor: $white;
$hoverColor: $red;
$navhoverColor: $yellow;
$fontHeadingTitleColor: $red;
$errorMessage: red;

// Spacing
$mainSpacing: 0.3rem;
$spacingBetweenDiv: 1rem;
$spacingForParagraph: 3rem;

// Width
$containerWidth: 95%;
$maxWidth: 980px;

// Radius
$mainRadius: 0.3rem;
$buttonRadius: 0.1rem;

// Transition
$mainTransition: all 0.4s ease-in-out;

// Shadow
$boxShadow: -5px 0px 9px -1px rgba(0,0,0,0.47);
$textShadow: 1px 1px 1px black;