@import '../../style/styles.scss';

.admin-edit-post-container {
    margin-top: 10px;

    h2 {
        margin: 20px 0;
        text-align: center;
    }

    .link-container {
        text-align: center;
    }
}